.appBar {
    position: sticky;
    top: 0;
}

.colorButton {
    color: #fafafa
}

.backButton {
    margin-right: 24px;
    font-size: 26px;
}

.name {
    color: #fafafa;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    flex-grow: 1;
}

.avatarContainer {
    display: flex;
    align-items: center;
}