.rootLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  flex-grow: 1;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}