.upBox {
    display: flex;
    align-items: end;
    padding-bottom: 20px;
    justify-content: center;
    background-color: #517DA2;
    width: 240px;
    height: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.downBox {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.sideMenu {
    /* width: 250px; */
    background-color: red;
}
