.upBox {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    justify-content: center;
    background-color: #00488f;
    width: 240px;
    height: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #fafafa
}

.downBox {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.button {
    background-color: #517DA2;
}