.rootLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}


@media screen and (max-width: 2000px) {
    .layout {
        width: 100%;
        max-width: 420px;
    }
}

@media screen and (max-width: 500px) {
    .layout {
        width: 90%;
    }
}